.tableborder.svelte-133lqdf{border-style:solid;border-width:2px}.toptableborder.svelte-133lqdf{border-top-style:solid;border-top-width:2px}table.svelte-133lqdf{background-color:#293241;min-width:90%}
